<mdb-card class="card">  
  <mdb-card-header class="card-header">Składki ZUS</mdb-card-header>
  <mdb-card-body class="card-body">
    <mdb-card-text>  

        <div class="row">
            <div class="col-md-3">
                    <label class="active">Rok:</label>
                    <dx-select-box *ngIf="year.length > 0"
                            [dataSource]="year"
                            [searchEnabled]="true"
                            displayExpr="label"
                            valueExpr="value"
                            [value]="actualYear"
                            [(ngModel)]="actualYear"
                            (onSelectionChanged)="showZus();"
                    ></dx-select-box> 
            </div>
            <div class="col-md-9">
                <dx-button
                    stylingMode="contained"
                    text="Dodaj składke"
                    type="default"
                    [width]="150"
                    style="position:relatice; float:right;" 
                    [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['add-zus'] } }]"
                >
                </dx-button>
                <!-- <button class="btn blue-gradient" style="position:relatice; float:right;" [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['add-zus'] } }]">Dodaj składke</button> -->
            </div>
        </div>    
        
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                    <dx-data-grid
                    #grid
                    id="gridContainer"
                    [dataSource]="zus"
                    keyExpr="id"
                    [sorting] = "false"
                    [allowColumnReordering]="false"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [selectedRowKeys]="[]"
                    (onRowRemoving)="delete($event.key)"
                    >
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-editing
                        mode="row"
                        [allowUpdating]="false"
                        [allowDeleting]="true"
                        [allowAdding]="false"
                        [useIcons]="true"
                       >
                    </dxo-editing>
                    <dxi-column 
                        dataField="rok" 
                        caption="Rok">
                    </dxi-column> 
                    <dxi-column 
                        dataField="miesiac" 
                        caption="Miesiąc">
                    </dxi-column> 
                    <dxi-column 
                        dataField="termin_platnosci" 
                        caption="Termin płatności">
                    </dxi-column>
                    <dxi-column 
                        dataField="skladka_spoleczne" 
                        caption="Składka społeczna">
                    </dxi-column> 
                    <dxi-column 
                        dataField="skladka_zdrowotne" 
                        caption="Składka zdrowotna">
                    </dxi-column>   
                    <dxi-column 
                        dataField="skladka_fundusz_pracy" 
                        caption="Składka na fundusz prac">
                    </dxi-column> 
                </dx-data-grid>
            </div>
        </div>
        
      </mdb-card-text>
   </mdb-card-body>
</mdb-card>
