<!--<div style="margin-top:250px;"></div>-->
<!-- Footer -->
<br><br>
<footer class="page-footer font-small special-color-dark" >

    <!-- Footer Elements -->
    <div class="container">

        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a href = "https://www.facebook.com/jakub.kumiega" class="btn-floating btn-large btn-fb waves-effect waves-light"><i class="fa fa-facebook-f" mdbWavesEffect></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/JKumiga?lang=pl" class="btn-floating btn-large btn-tw waves-effect waves-light"><i class="fa fa-twitter" mdbWavesEffect></i></a>
            </li>

            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/jakub-kumi%C4%99ga-08155ab3/" class="btn-floating btn-large btn-li waves-effect waves-light"><i class="fa fa-linkedin-square" mdbWavesEffect></i></a>
            </li>
          </ul>

        	
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="http://kumi20.webd.pl"> Qumi Soft Jakub Kumięga</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
