<mdb-card class="card">  
  <mdb-card-header class="card-header">Dowody wewnętrzne</mdb-card-header>
  <mdb-card-body class="card-body">
    <mdb-card-text>  
        
        <div class="row">
           <div class="col-md-3">
               
                <div class="md-form">
                    <mdb-select class="select" [options]="year" [filterEnabled]="true" placeholder="-- wybierz rok --" [(ngModel)]="actualYear" #yearSelected (selected)="showInternalEvidence()"></mdb-select>
                    <label class="active">Rok:</label>
                </div>
            </div>
            <div class="col-md-3">
  
                <div class="md-form">
                    <mdb-select class="select" [options]="month" [filterEnabled]="true" placeholder="-- wybierz miesiąc --" [(ngModel)]="actualMonth" #monthSelected (selected)="showInternalEvidence()"></mdb-select>
                    <label class="active">Miesiąc:</label>
                </div>
            </div>
       </div>

        <br><br>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table" responsive="true">
                  <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th >data dokumentu</th>
                        <th>nr dokumentu.</th>
                        <th>opis</th>
                        <th>kwota</th>
                        <th></th>
                    </tr>
                  </thead>
                    <tbody>
                        <tr *ngFor="let evidence of internalEvidence; let i = index" [routerLink]="['/panel/', { outlets: { 'panel-outlet': ['internal-evidence-add', evidence.id]}}]">
                            <td>{{i+1}}</td>
                            <td>{{evidence.data}}</td>
                            <td>{{evidence.number}}</td>
                            <td>{{evidence.description}}</td>
                            <td>{{evidence.sum}}</td>
                            <td><i class="fa fa-trash-o" style="cursor: pointer" (click)="delete(evidence.id)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </mdb-card-text>
    </mdb-card-body>
</mdb-card>