<mdb-card class="card">  
  <mdb-card-header class="card-header">Dowody wewnętrzne</mdb-card-header>
  <mdb-card-body class="card-body">
    <mdb-card-text>  
        
        <div class="row">
           <div class="col-md-3">
                    <label class="active">Rok:</label>
                    <dx-select-box *ngIf="year.length > 0"
                        [dataSource]="year"
                        [searchEnabled]="true"
                        displayExpr="label"
                        valueExpr="value"
                        [value]="actualYear"
                        [(ngModel)]="actualYear"
                        (onSelectionChanged)="showInternalEvidence();"
                    ></dx-select-box>    
            </div>
            <div class="col-md-3">
                    <label class="active">Miesiąc:</label>
                    <dx-select-box *ngIf="month.length > 0"
                        [dataSource]="month"
                        [searchEnabled]="true"
                        displayExpr="label"
                        valueExpr="value"
                        [value]="actualMonth"
                        [(ngModel)]="actualMonth"
                        (onSelectionChanged)="showInternalEvidence();"
                    ></dx-select-box>    

            </div>
            <div class="col-md-6">
                <dx-button
                    stylingMode="contained"
                    text="Dodaj dowód"
                    type="default"
                    [width]="150"
                    [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['internal-evidence-add'] } }]"
                    style="position:relatice; float:right;"
                >
                </dx-button>
                <!-- <button class="btn blue-gradient" style="position:relatice; float:right;" [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['internal-evidence-add'] } }]">Dodaj dowód</button> -->
            </div>
       </div>

        <br><br>
        
        <div class="row">
            <div class="col-lg-12">

                <dx-data-grid
                    #grid
                    id="gridContainer"
                    [dataSource]="internalEvidence"
                    keyExpr="id"
                    [sorting] = "false"
                    [allowColumnReordering]="false"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [selectedRowKeys]="[]"
                    (onSelectionChanged)="onSelectionChanged($event.selectedRowKeys)"
                    (onRowRemoving)="delete($event.key)"
                    >
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-editing
                        mode="row"
                        [allowUpdating]="false"
                        [allowDeleting]="true"
                        [allowAdding]="false"
                        [useIcons]="true"
                       >
                    </dxo-editing>
                    <dxi-column 
                        dataField="data" 
                        caption="data dokumentu">
                    </dxi-column> 
                    <dxi-column 
                        dataField="number" 
                        caption="nr dokumentu.">
                    </dxi-column>  
                    <dxi-column 
                        dataField="description" 
                        caption="opis">
                    </dxi-column> 
                    <dxi-column 
                        dataField="sum" 
                        caption="kwota">
                    </dxi-column> 
                </dx-data-grid>
            </div>
        </div>
      </mdb-card-text>
    </mdb-card-body>
</mdb-card>