<mdb-card class="card">  
  <mdb-card-header class="card-header">Dowód</mdb-card-header>
  <mdb-card-body class="card-body">
    <mdb-card-text> 
        
        <div class="row">
            <div class="col-md-12">
                <label>Data dokumentu:</label>
                <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Wybierz date'" [(ngModel)]="evidence.data"></mdb-date-picker>
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-md-12">
                <label>Numer dokumentu:</label>
                <input type="text" class="form-control" [(ngModel)]="evidence.number"/>
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-md-12">
                <label>Opis:</label>
                <textarea class="form-control" [(ngModel)]="evidence.description"></textarea>
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-md-12">
                <label>Kwota:</label>
                <input type="text" class="form-control" [(ngModel)]="evidence.sum"/>
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-sm-12">
                <label>Dostawca:</label>
                <dx-select-box *ngIf="contractor.length > 0"
                        [dataSource]="contractor"
                        [searchEnabled]="true"
                        displayExpr="label"
                        valueExpr="value"
                        [(ngModel)]="evidence.customerId"
                    ></dx-select-box> 
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-md-12">
                <dx-button
                    icon="check"
                    stylingMode="contained"
                    text="Zapisz"
                    type="default"
                    [width]="150"
                    (onClick)="save()"
                >
                </dx-button>
                <!-- <button class="btn blue-gradient" (click)="save()">Zapisz</button> -->
            </div>
        </div>
        
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>