<mdb-card class="card">  
  <mdb-card-header class="card-header">Podatek dochodowy</mdb-card-header>
  <mdb-card-body class="card-body">
    <mdb-card-text>  

        <div class="row">
            <div class="col-md-3">
                    <label class="active">Rok:</label>
                    <dx-select-box *ngIf="year.length > 0"
                        [dataSource]="year"
                        [searchEnabled]="true"
                        displayExpr="label"
                        valueExpr="value"
                        [value]="actualYear"
                        [(ngModel)]="actualYear"
                        (onSelectionChanged)="getTax();"
                    ></dx-select-box>    
            </div>
            <div class="col-md-9">
                <dx-button
                    stylingMode="contained"
                    text="Oblicz podatek"
                    type="default"
                    [width]="150"
                    style="position:relatice; float:right;" 
                    [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['count-tax'] } }]"
                >
                </dx-button>
                <!-- <button class="btn blue-gradient" style="position:relatice; float:right;" [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['count-tax'] } }]">Oblicz podatek</button> -->
            </div>
        </div>  
        
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                <dx-data-grid
                    #grid
                    id="gridContainer"
                    [dataSource]="tax"
                    keyExpr="id"
                    [sorting] = "false"
                    [allowColumnReordering]="false"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [selectedRowKeys]="[]"
                    (onRowRemoving)="delete($event.key)"
                    >
                    <dxo-export [enabled]="true" fileName="Podatek dochodowy" [allowExportSelectedData]="true"></dxo-export>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-editing
                        mode="row"
                        [allowUpdating]="false"
                        [allowDeleting]="true"
                        [allowAdding]="false"
                        [useIcons]="true"
                       >
                    </dxo-editing>
                    <dxi-column 
                        dataField="rok" 
                        caption="Rok">
                    </dxi-column> 
                    <dxi-column 
                        dataField="miesiac" 
                        caption="Miesiąc">
                    </dxi-column> 
                    <dxi-column 
                        dataField="suma_przychodow" 
                        caption="Przychód">
                    </dxi-column> 
                    <dxi-column 
                        dataField="suma_kosztow" 
                        caption="Koszt uzyskania przychodu">
                    </dxi-column> 
                    <dxi-column 
                        dataField="dochod" 
                        caption="Dochód">
                    </dxi-column> 
                    <dxi-column 
                        dataField="kwota_zaliczki" 
                        caption="Kwota zaliczki">
                    </dxi-column> 
                </dx-data-grid>
            </div>
        </div>
        
      </mdb-card-text>
    </mdb-card-body>
</mdb-card>