<mdb-card class="card">  
    <mdb-card-header class="card-header">Hasła klienta</mdb-card-header>
    <mdb-card-body class="card-body">
        <mdb-card-text> 

            <div class="row">
                <div class="col-md-6">
                    <dx-button
                        stylingMode="contained"
                        text="Dodaj system"
                        type="default"
                        [width]="150"
                        (onClick)="popupVisible = true; idSystem = null"
                    >
                    </dx-button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <dx-data-grid
                        #grid
                        id="passwordList"
                        [dataSource]="passwordList"
                        keyExpr="id"
                        [sorting] = "false"
                        [allowColumnReordering]="false"
                        [allowColumnResizing]="true"
                        [columnAutoWidth]="true"
                        [selectedRowKeys]="[]"
                        (onRowRemoving)="delete($event.key)"
                        (onSelectionChanged)="idSystem = $event.selectedRowKeys; popupVisible = true"
                        >
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <dxo-pager 
                            [showPageSizeSelector]="true"
                            [allowedPageSizes]="[5, 10, 20]"
                            [showInfo]="true">
                        </dxo-pager>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxo-editing
                            mode="row"
                            [allowUpdating]="false"
                            [allowDeleting]="true"
                            [allowAdding]="false"
                            [useIcons]="true"
                        >
                        </dxo-editing>
                        <dxi-column 
                            dataField="name" 
                            caption="Nazwa sytemu">
                        </dxi-column> 
                        <dxi-column 
                            dataField="login" 
                            caption="Login">
                        </dxi-column> 
                        <dxi-column 
                            dataField="password" 
                            caption="Hasło">
                        </dxi-column> 
                        <dxi-column 
                            dataField="coments" 
                            caption="Uwagi">
                        </dxi-column> 
                    </dx-data-grid> 
                </div>
            </div>
            
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>

<dx-popup
    [width]="600"
    [height]="420"
    [showTitle]="true"
    title="Dodaj system"
    [dragEnabled]="false"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">

    <app-adding (onAddingSystem)="popupVisible = false; onGetList()" [idSystem]="idSystem"></app-adding>
</dx-popup>