<mdb-card class="card" >  
  <mdb-card-header class="card-header">
      KPiR
      <i class="fa fa-file-pdf-o" aria-hidden="true" (click)="generatePDF()" style="margin-left:20px; cursor:pointer" mdbTooltip="Pobierz PDF" placement="bottom"></i>
  </mdb-card-header>
  <mdb-card-body class="card-body">
    <mdb-card-text>  

        <div class="row">
           <div class="col-md-3">
                <label class="active">Rok:</label>
                <dx-select-box *ngIf="year.length > 0"
                        [dataSource]="year"
                        [searchEnabled]="true"
                        displayExpr="label"
                        valueExpr="value"
                        [value]="actualYear"
                        [(ngModel)]="actualYear"
                        (onSelectionChanged)="showKPiR();"
                ></dx-select-box>                    
            </div>
            <div class="col-md-3">
                <label class="active">Miesiąc:</label>
                <dx-select-box *ngIf="month.length > 0"
                        [dataSource]="month"
                        [searchEnabled]="true"
                        displayExpr="label"
                        valueExpr="value"
                        [value]="actualMonth"
                        [(ngModel)]="actualMonth"
                        (onSelectionChanged)="showKPiR();"
                ></dx-select-box>           
            </div>
       </div>
        
        <br><br>
        
        <div class="row" >
            <div class="col-lg-12">  
                <dx-data-grid
                    #grid
                    id="gridContainer"
                    [dataSource]="kpir"
                    keyExpr="id"
                    [sorting] = "false"
                    [allowColumnReordering]="false"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [selectedRowKeys]="[]"
                    (onRowRemoving)="delete($event.key)"
                    >
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-editing
                        mode="row"
                        [allowUpdating]="false"
                        [allowDeleting]="true"
                        [allowAdding]="false"
                        [useIcons]="true"
                       >
                    </dxo-editing>
                    <dxi-column 
                        dataField="data_zd" 
                        caption="data zd. gosp.">
                    </dxi-column>  
                    <dxi-column 
                        dataField="nr_dow" 
                        caption="nr dow. księg">
                    </dxi-column>  
                    <dxi-column 
                        dataField="name" 
                        caption="imię i nazwisko (firma)">
                    </dxi-column>  
                    <dxi-column 
                        dataField="razem_przychod" 
                        caption="razem przychód">
                    </dxi-column>  
                    <dxi-column 
                        dataField="zakup_towarow" 
                        caption="zak. tow.handl.">
                    </dxi-column>  
                    <dxi-column 
                        dataField="koszty_uboczne" 
                        caption="koszty ub. zak.">
                    </dxi-column>  
                    <dxi-column 
                        dataField="wynagrodzenie_gotowka" 
                        caption="wynagr. w got.">
                    </dxi-column>  
                    <dxi-column 
                        dataField="pozostale_wydatki" 
                        caption="pozostałe wydatki">
                    </dxi-column>  
                    <dxi-column 
                        dataField="opis_zdarzenia" 
                        caption="opis zd. gosp.">
                    </dxi-column> 
                </dx-data-grid>
            </div>
        </div>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>

<br><br>

<mdb-card class="card">  
    <mdb-card-header class="card-header">Statystyka</mdb-card-header>
      <mdb-card-body class="card-body">
          <mdb-card-text>  
              <div class="row">
                    <div class="col-md-6">
                        <table class="table" >
                            <thead>
                                <tr>
                                    <th style="width:35%"></th>
                                    <th>w danym miesiącu</th>
                                    <th>od początku roku</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>razem przychód</td>
                                    <td>{{statistic.przychod_miesiac}} zł</td>
                                    <td>{{statistic.przychod_rok}} zł</td>
                                </tr>
                                <tr>
                                    <td>koszt uzyskania przychodu</td>
                                    <td>{{statistic.wydatki_miesiac}} zł</td>
                                    <td>{{statistic.wydatki_rok}} zł</td>
                                </tr>
                                <tr>
                                    <td>dochód</td>
                                    <td>{{statistic.dochod_miesiac}} zł</td>
                                    <td>{{statistic.dochod_rok}} zł</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
          </mdb-card-text>
      </mdb-card-body>
</mdb-card>