<mdb-card class="card">  
  <mdb-card-header class="card-header">Oblicz podatek</mdb-card-header>
  <mdb-card-body class="card-body">
    <mdb-card-text>  

            <div class="row">
                <div class="col-lg-12">
                    <label>Wybierz rok i miesiąc</label>
                    <div class="row">
                            <div class="col-md-3">
                                    <label class="active">Rok:</label>
                                    <dx-select-box *ngIf="year.length > 0"
                                        [dataSource]="year"
                                        [searchEnabled]="true"
                                        displayExpr="label"
                                        valueExpr="value"
                                        [value]="actualYear"
                                        [(ngModel)]="actualYear"
                                    ></dx-select-box>    
                            </div>
                            <div class="col-md-3">
                                    <label class="active">Miesiąc:</label>
                                    <dx-select-box *ngIf="month.length > 0"
                                        [dataSource]="month"
                                        [searchEnabled]="true"
                                        displayExpr="label"
                                        valueExpr="value"
                                        [value]="actualMonth"
                                        [(ngModel)]="actualMonth"
                                    ></dx-select-box>    
                
                            </div>

                        <div class="col-md-3">
                            <dx-button
                                stylingMode="contained"
                                text="Oblicz"
                                type="default"
                                [width]="150"
                                (onClick)="countTax()"
                            >
                            </dx-button>
                            <!-- <button class="btn blue-gradient" (click)="countTax()">Oblicz</button> -->
                        </div>
                    </div>
                </div>              
            </div>

      </mdb-card-text>
    </mdb-card-body>
</mdb-card>

<br><br>

<mdb-card class="card" *ngIf="showTax">  
  <mdb-card-header class="card-header">Podatek</mdb-card-header>
    <mdb-card-body class="card-body">
        <mdb-card-text> 
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Rok: </strong>{{tax.year}}</p>
                    <p><strong>Suma zapłaconych składek na ub. społeczne: </strong>{{tax.social| currency:'PLN '}}</p>
                    <p><strong>Podatek od początku roku: </strong>{{tax.tax| currency:'PLN '}}</p>
                </div>
                
                <div class="col-md-6">
                    <p><strong>Miesiąc: </strong>{{tax.month}}</p>
                    <p><strong>Suma odliczonych składek na ub. zdrowotne: </strong>{{tax.health| currency:'PLN '}}</p>
                    <p><strong>Zaliczka na podatek: </strong>{{tax.advance| currency:'PLN '}}</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <th>#</th>
                            <th>Przychód</th>
                            <th>Koszt uzyskania przychodu</th>
                            <th>Dochód</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>{{tax.income| currency:'PLN '}}</td>
                                <td>{{tax.cost| currency:'PLN '}}</td>
                                <td>{{tax.income - tax.cost| currency:'PLN '}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <br>
            <div class="row">
                <div class="col-md-12">
                    <dx-button
                        icon="check"
                        stylingMode="contained"
                        text="Zapisz"
                        type="default"
                        [width]="150"
                        (onClick)="save()"
                    >
                    </dx-button>
                    <!-- <button class="btn blue-gradient" (click)="save()">Zapisz</button> -->
                </div>
            </div>
        </mdb-card-text>
    </mdb-card-body>
</mdb-card>
