<mdb-card class="card">  
  <mdb-card-header class="card-header">Kontrahenci</mdb-card-header>
  <mdb-card-body class="card-body">
    <mdb-card-text>  
        
        <div class="row">
            <div class="col-md-6">
                <button class="btn blue-gradient" [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['add-company','0'] } }]">Dodaj dostawce</button>
            </div>
            <div class="col-md-6">
                <button class="btn blue-gradient" style="position: relative; float: right;" [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['add-company','1'] } }]">Dodaj odbiorce</button>
            </div>
        </div>
        
        <br><br>
        <app-search></app-search>
        
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <th>#</th>
                        <th>Nazwa</th>
                        <th>Ulica</th>
                        <th>Miejscowość</th>
                        <th>Nip</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let com of company| paginate: { itemsPerPage: 15, currentPage:  page }; let i = index " [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['add-company','1',com.id] } }]">
                            <td>{{i + 1 }}</td>
                            <td style="width:300px">{{com.name}}</td>
                            <td><p style="display: inline">{{com.street}} {{com.home_number}} </p><p *ngIf="com.local_number!=''" style="display: inline">/{{com.local_number}}</p></td>
                            <td>{{com.post_code}} {{com.city}}</td>
                            <td>{{com.nip}}</td>
                            <td><i class="fa fa-trash-o" style="cursor: pointer" (click)="delete(com.id)"></i></td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="d-flex justify-content-center">
                    <pagination-controls (pageChange)="page = pageChanged($event)"  directionLinks="true"  previousLabel="Poprzednia" nextLabel="Następna" autoHide="true" class="pagination"></pagination-controls>
                </div>
            </div>
        </div>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>