<mdb-card class="card">  
  <mdb-card-header class="card-header">Podatek VAT</mdb-card-header>
  <mdb-card-body class="card-body">
    <mdb-card-text> 
        
        <div class="row">
                    <div class="col-md-3">
                            <label class="active">Rok:</label>
                            <dx-select-box *ngIf="year.length > 0"
                                [dataSource]="year"
                                [searchEnabled]="true"
                                displayExpr="label"
                                valueExpr="value"
                                [value]="actualYear"
                                [(ngModel)]="actualYear"
                                (onSelectionChanged)="getVat();"
                            ></dx-select-box>    
                    </div>
            <div class="col-md-9">
                <dx-button
                    stylingMode="contained"
                    text="Oblicz podatek"
                    type="default"
                    [width]="150"
                    style="position:relatice; float:right;" 
                    [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['count-vat'] } }]"
                >
                </dx-button>
                <!-- <button class="btn blue-gradient" style="position:relatice; float:right;" [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['count-vat'] } }]">Oblicz podatek</button> -->
            </div>
        </div>  
        
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                    <dx-data-grid
                    #grid
                    id="gridContainer"
                    [dataSource]="vatDeclaration"
                    keyExpr="id"
                    [sorting] = "false"
                    [allowColumnReordering]="false"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [selectedRowKeys]="[]"
                    (onRowRemoving)="delete($event.key)"
                    >
                    <dxo-export [enabled]="true" fileName="Podatek VAT" [allowExportSelectedData]="true"></dxo-export>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-editing
                        mode="row"
                        [allowUpdating]="false"
                        [allowDeleting]="true"
                        [allowAdding]="false"
                        [useIcons]="true"
                       >
                    </dxo-editing>
                    <dxi-column 
                        dataField="from" 
                        caption="Od">
                    </dxi-column> 
                    <dxi-column 
                        dataField="to" 
                        caption="Do">
                    </dxi-column> 
                    <dxi-column 
                        dataField="name" 
                        caption="Opis">
                    </dxi-column>                     
                    <dxi-column 
                        dataField="count" 
                        caption="Kwota">
                    </dxi-column> 
                    </dx-data-grid>
            </div>
        </div>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>