<mdb-card class="card">  
  <mdb-card-header class="card-header">Środki trwałe</mdb-card-header>
  <mdb-card-body class="card-body">
    <mdb-card-text> 
       <div class="row">
            <div class="col-md-12">
                <dx-button
                    stylingMode="contained"
                    text="Dodaj środek trwały"
                    type="default"
                    [width]="200"
                    [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['add-fixxed-assets'] } }]"
                >
                </dx-button>
                <!-- <button class="btn blue-gradient" [routerLink]="['/panel/',{outlets: { 'panel-outlet': ['add-fixxed-assets'] } }]">Dodaj środek trwały</button> -->
            </div>
        </div>   
        
        <br><br>
        <div class="row">
            <div class="col-lg-12">
                    <dx-data-grid
                    #grid
                    id="gridContainer"
                    [dataSource]="fixedAssets"
                    keyExpr="id"
                    [sorting] = "false"
                    [allowColumnReordering]="false"
                    [allowColumnResizing]="true"
                    [columnAutoWidth]="true"
                    [selectedRowKeys]="[]"
                    (onSelectionChanged)="onSelectionChange($event.selectedRowKeys)"
                    (onOptionChanged)="onClickPager($event)"
                    >
                    <dxo-paging [pageSize]="pageSize"></dxo-paging>
                    <dxo-pager 
                        [showPageSizeSelector]="true"
                        [allowedPageSizes]="[5, 10, 20]"
                        [showInfo]="true">
                    </dxo-pager>
                    <dxo-selection mode="single"></dxo-selection>
                    <dxi-column 
                        dataField="numer_dokumentu" 
                        caption="Numer dokumentu">
                    </dxi-column> 
                    <dxi-column 
                        dataField="nazwa" 
                        caption="Nazwa">
                    </dxi-column> 
                    <dxi-column 
                        dataField="data_nabycia" 
                        caption="Data nabycia">
                    </dxi-column> 
                    <dxi-column 
                        dataField="data_likwidacji" 
                        caption="Data likwidacji">
                    </dxi-column> 
                    <dxi-column 
                        dataField="warotsc_poczatkowa" 
                        caption="Wartość początkowa">
                    </dxi-column> 
                 </dx-data-grid>
            </div>
        </div>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>