<mdb-card class="card">  
  <mdb-card-header class="card-header">Dodaj składkę ZUS</mdb-card-header>
  <mdb-card-body class="card-body">
    <mdb-card-text>  

        <div class="row">
            <div class="col-md-3">
                <label class="active">Rok:</label>
                <dx-select-box *ngIf="year.length > 0"
                    [dataSource]="year"
                    [searchEnabled]="true"
                    displayExpr="label"
                    valueExpr="value"
                    [value]="actualYear"
                    [(ngModel)]="actualYear"
                    (onSelectionChanged)="setDataPayment();"
                ></dx-select-box>    
            </div>
            <div class="col-md-3">
                <label class="active">Miesiąc:</label>
                <dx-select-box *ngIf="month.length > 0"
                    [dataSource]="month"
                    [searchEnabled]="true"
                    displayExpr="label"
                    valueExpr="value"
                    [value]="actualMonth"
                    [(ngModel)]="actualMonth"
                    (onSelectionChanged)="setDataPayment();"
                ></dx-select-box>    
            </div>
        </div>
        
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <label>Termi płatności: {{zus.paymentDeadline}}</label>
            </div>     
        </div>
        
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <p class="p_header">Składka na ubezpieczenie społeczne:</p>
                
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="zus.socialContribution">
                            <label class="active">wysokość składki [zł]</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="zus.dateSocial" disabled>
                            <label class="active">data wpłaty</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <p class="p_header">Składka na ubezpieczenie zdrowotne:</p>
                
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="zus.healthContribution">
                            <label class="active">wysokość składki [zł]</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="zus.dateHealth" disabled>
                            <label class="active">data wpłaty</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <br><br>
        <div class="row">
            <div class="col-md-12">
                <p class="p_header">Składka na fundusz pracy:</p>
                
                <div class="row">
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="zus.workContribution">
                            <label class="active">wysokość składki [zł]</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="md-form">
                            <input type="text" class="form-control" [(ngModel)]="zus.dateWork" disabled>
                            <label class="active">data wpłaty</label>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
        
        <br>
        <div class="row">
            <div class="col-md-12">
                <dx-button
                    icon="check"
                    stylingMode="contained"
                    text="Dodaj składke"
                    type="default"
                    [width]="150"
                    (onClick)="save()"
                >
                </dx-button>
                <!-- <button class="btn blue-gradient" (click)="save()">Zapisz</button> -->
            </div>
        </div>
        
      </mdb-card-text>
    </mdb-card-body>
</mdb-card>
