<br><br>

<main>        
       <section>
           <div class="container">
               <div class="row">
                   <div class="col-sm-12">
                       <h1 class="card-text wow fadeInUp" data-wow-delay="0.3s">Idealny program dla księgowych, który pozwoli Ci zaoszczędzić czas</h1>
                       <p class="wow fadeInUp" data-wow-delay="0.3s">Zaprojektowany z myślą o intuicyjnym i prostym korzystaniu. Gotowy do pracy w ciągu kilku minut. Dzięki przemyślanym funkcjom Qumi Księgowość oferuje wsparcie w każdej sytuacji.</p>
                       
                       <h1 class="card-text wow fadeInUp" data-wow-delay="0.3s">Program księgowy, który po prostu polubisz</h1>
                       <p class="wow fadeInUp" data-wow-delay="0.3s">
                        Program księgowy Qumi Księgowość został opracowany przez czołowych ekspertów w zakresie rachunkowości, którzy są w stałym kontakcie z ustawodawcami oraz klientami. Możesz mieć pewność, że księgowość prowadzona za pomocą programu Qumi Księgowość jest bezbłędna, a oprogramowanie aktualne, zgodne z przepisami prawa i ogólnie przyjętymi zasadami rachunkowości.

                         </p>
                   </div>
               </div>
           </div>           
       </section>
       
       <br><br><br> 
       
        <section>
           <div class="container">    
                <div class="row">
                    <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                            <!-- Card Wider -->
                            <div class="card card-cascade wider">

                              <!-- Card image -->
                              <div class="view-cascade overlay">
                                <img class="card-img-top" src="./assets/img/document-3268750_1920.jpg" alt="Card image cap ">
                                <a href="#!">
                                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                </a>
                              </div>

                              <!-- Card content -->
                              <div class="card-body card-body-cascade text-center">

                                <!-- Title -->
                                <h4 class="card-title"><strong>Zakładasz konto i fakturujesz</strong></h4>
                                <!-- Subtitle -->
                                         <!-- Text -->
                                <p class="card-text wow fadeInUp" data-wow-delay="0.3s">Skonfiguruj swoje konto firmowe i rozpocznij fakturowanie w ciągu kilku minut. Testuj ifirma.pl do woli przez 3 miesiące i za darmo. Zdecyduj, czy jest dla Ciebie. </p>

                              </div>

                            </div>
                            <!-- Card Wider -->

                    </div>

                    <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                            <!-- Card Wider -->
                            <div class="card card-cascade wider">

                              <!-- Card image -->
                              <div class="view-cascade overlay">
                                <img class="card-img-top" src="./assets/img/audit-4190944_1920.jpg" alt="Card image cap">
                                <a href="#!">
                                  <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                </a>
                              </div>

                              <!-- Card content -->
                              <div class="card-body card-body-cascade text-center">

                                <!-- Title -->
                                <h4 class="card-title"><strong>Księgujesz automatycznie</strong></h4>
                                <!-- Subtitle -->
                                         <!-- Text -->
                                <p class="card-text wow fadeInUp" data-wow-delay="0.3s">Przesyłaj dokumenty online, a system zaksięguje je automatycznie, eliminując możliwość popełnienia błędu. Prowadź KPiR lub ewidencję ryczałtu online i wysyłaj dokumenty do urzędów bez wychodzenia z domu. </p>

                              </div>

                            </div>
                            <!-- Card Wider -->

                    </div>

                </div>
            </div>
        </section>
        
        <br><br><br> 
        
         <section style="background-color: #004b82; color:#ffffff; padding-top: 20px;"> 
           <div class="container">  
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Dostęp do księgowości 24/7<br>z telefonu i komputera</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.3s">Dbamy o to, by nasza aplikacja była zawsze pod ręką. Chcesz coś sprawdzić, zmienić, wykonać? Sięgnij po swój telefon lub podróżny laptop, albo usiądź za biurkiem - i gotowe!</p>
                        <div class="text-center">         
                              <img class="img-fluid center wow fadeInUp" src="./assets/img/Bez%C2%A0tytu%C5%82u.png" alt="Qumi Soft Jakub Kumięga" data-wow-delay="0.3s">
                        </div> 
                    </div>
                </div>  
            </div>                             
        </section> 
        
        
        
        
    
</main>

<br><br>